[submodule "OpenSSL_1_0_1-stable"]
	path = OpenSSL_1_0_1-stable
	url = https://github.com/openssl/openssl.git
[submodule "kdeconnect-win/openssl-master"]
	path = kdeconnect-win/openssl-master
	url = https://github.com/openssl/openssl.git
[submodule "kdeconnect-win/qca"]
	path = kdeconnect-win/qca
	url = git://anongit.kde.org/qca.git
